html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 1;
  color: #000000;
  text-align: left;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.header {
  width: 100%;
  margin: auto;
  background-color: #f4f7f9;
}

.wrap {
  margin: auto;
  width: 940px;
  background-color: #f4f7f9;
}

.wrap-user-menu {
  background-color: #293449;
}

.user-menu {
  margin: auto;
  margin-bottom: 5px;
  width: 940px;
  display: flex;
  background-color: #293449;
}

.logo {
  flex-shrink: 0;
  width: 220px;
  height: 42px;
  padding-top: 12px;
  text-align: center;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #a80814;
}

.logo:hover, .logo:focus,
.footer-logo:hover, .footer-logo:focus {
  outline: none;
  background-color: #ca2c37;
}

.logo:active,
.footer-logo:active {
  background-color: #ba2732;
}

.user-menu-search {
  flex-shrink: 0;
  width: 250px;
  color: #ffffff;
  font-size: 17px;
  line-height: calc(18/17);
  background-repeat: no-repeat;
}

.user-menu-search input {
  width: 100%;
  min-height: 42px;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #293449;
  border: none;
}

.search-label {
  position: relative;
}

.search-label::before {
  content: "";
  position: absolute;
  right: 218px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  z-index: 2;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.user-menu-search input::placeholder {
  color: #ffffff;
  opacity: 1;
}

.user-menu-search input[placeholder] {
  padding-left: 47px;
  color: #ffffff;
}

.user-menu-search input:hover {
  background-color: #212a3a;
}

.user-menu-search input:focus {
  outline: none;
  padding-left: 50px;
  background-color: #ffffff;
  color: #000000;
}

.user-menu-search input:hover~.search-label::before {
  opacity: 1;
}

.user-menu-search input:focus~.search-label::before {
  background-image: url("../img/icon-search-red.svg");
  opacity: 1;
}

.user-menu-list {
  display: flex;
  max-width: 470px;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  list-style: none;
  color: #ffffff;
  font-size: 17px;
  line-height: calc(18/17);
  text-align: center;
}

.user-menu-item {
  flex-shrink: 0;
  width: 150px;
}

.user-menu-list a {
  height: 42px;
  padding-top: 12px;
  display: block;
  color: #ffffff;
}

.user-menu-item a:hover,
.user-menu-item a:focus {
  outline: none;
  background-color: #212a3a;
}

.user-menu-item a:active {
  color: #8b8e94;
  background-color: #161d29;
}

.icon-bookmark {
  position: relative;
  padding-left: 16px;
}

.icon-bookmark::before {
  content: "";
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-60%);
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
}

.icon-bookmark:hover::before,
.icon-bookmark:focus::before {
  background-image: url("../img/icon-bookmark-active.svg");
}

.icon-bookmark:active::before {
  background-image: url("../img/icon-bookmark.svg");
}

.icon-cart {
  position: relative;
  padding-left: 17px;
}

.icon-cart::before {
  content: "";
  position: absolute;
  left: 17px;
  top: 50%;
  transform: translateY(-60%);
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
}

.icon-cart:hover::before,
.icon-cart:focus::before {
  background-image: url("../img/cart-icon-active.svg");
}

.icon-cart:active::before {
  background-image: url("../img/cart-icon.svg");
}

.cart {
  position: relative;
  padding-left: 25px;
  background-color: #ee3643;
}

.cart::before {
  content: "";
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-60%);
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon-red.svg");
  background-repeat: no-repeat;
}

.user-menu-item:last-child {
  background-color: #63a63e;
}

.user-menu-item:last-child a:hover,
.user-menu-item:last-child a:focus {
  background-color: #5fbb2d;
}

.user-menu-item:last-child a:active {
  color: #a8c29a;
  background-color: #518534;
}

.header-wrapper {
  display: flex;
  align-items: flex-start;
  padding-top: 41px;
  padding-bottom: 38px;
}

.header-description {
  display: block;
  flex-shrink: 0;
  margin: 0;
  padding-top: 4px;
  padding-right: 60px;
  padding-left: 52px;
  width: 310px;
  font-size: 16px;
  color: #ee3643;
  font-style: italic;
  line-height: 1.44;
}

.header-contacts {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  padding-top: 1px;
  padding-left: 10px;
  width: 310px;
}

.header-tel {
  display: block;
  flex-shrink: 0;
  width: 270px;
  height: 45px;
  padding-top: 9px;
  padding-left: 21px;
  text-align: center;
  font-size: 21px;
  color: #ee3643;
  line-height: 1;
  position: relative;
  border: 3px solid #ffffff;
}

.header-tel::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 11px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
}

.header-address {
  flex-shrink: 0;
  width: 270px;
  padding: 0;
  padding-top: 4px;
  font-size: 14px;
  color: #32425c;
  line-height: 1.7;
  text-align: center;
}

.header-exit {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 320px;
  padding: 0;
  padding-left: 20px;
  margin: 0;
  list-style: none;
  color: #ee3643;
  font-size: 21px;
  line-height: 1;
}

.exit-item {
  flex-shrink: 0;
  width: 121px;
  min-height: 45px;
  background-color: #ffffff;
  text-align: center;
}

.exit-item:last-child {
  margin-left: 10px;
  width: 150px;
}

.icon-exit {
  position: relative;
  padding-left: 20px;
}

.icon-exit::before {
  content: "";
  position: absolute;
  left: 13px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
}

.icon-exit:hover::before,
.icon-exit:focus::before {
  background-image: url("../img/icon-login-active.svg");
}

.icon-exit:active::before {
  background-image: url("../img/icon-login.svg");
}

.exit-item a {
  display: block;
  padding-top: 12px;
  min-height: 45px;
  color: #000000;
}

.exit-item a:hover,
.exit-item a:focus {
  outline: none;
  color: #ee3643;
}

.exit-item a:active {
  color: #c5c5c5;
}

.name {
  display: block;
  flex-shrink: 0;
  padding-top: 13px;
  padding-right: 20px;
  width: 299px;
  height: 45px;
  color: #000000;
  font-size: 21px;
  line-height: 1;
  position: relative;
}

.name:active,
.logout:active {
  opacity: 0.3;
}

.name::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.logout {
  position: relative;
  padding-top: 30px;
  font-size: 0;
  color: transparent;
}

.logout::before {
  content: "";
  position: absolute;
  left: 29px;
  bottom: 13px;
  width: 20px;
  height: 18px;
  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.name:hover::before,
.name:focus::before,
.logout:hover::before,
.logout:focus::before {
  opacity: 1;
}

.user-item {
  display: block;
  text-align: left;
  width: 42%;
}

.user-item:first-child {
  width: 80%;
  height: 45px;
  text-align: center;
  background-color: #ffffff;
}

.user-item:nth-child(2) {
  width: 20%;
  height: 45px;
  background-color: #ffffff;
}

.user-item:nth-child(3) {
  position: relative;
  padding-top: 5px;
  padding-left: 18px;
}

.user-item:last-child {
  padding-top: 5px;
  margin-right: 48px;
}

.user-item:nth-child(3)::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  background-color: #32425c;
  border-radius: 50%;
  right: 15px;
  top: 14px;
}

.user-link {
  flex-shrink: 0;
  font-size: 16px;
  line-height: 1.13;
  color: #32425c;
  text-decoration: underline;
}

.user-link:hover,
.user-link:focus {
  outline: none;
  color: #ee3643;
}

.user-link:active {
  color: #32425c;
  opacity: 0.5;
}

.nav {
  padding-bottom: 60px;
}

.main-menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 21px;
  margin: 0;
  list-style: none;
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
  font-size: 17px;
  line-height: 1;
}

.main-menu-item {
  text-align: center;
}

.main-menu-item a {
  display: block;
  padding: 20px 31px 14px 29px;
  color: #ffffff;
  height: 60px;
}

.main-menu-item a:hover,
.main-menu-item a:focus {
  outline: none;
  background-color: #293449;
}

.main-menu-item a:active {
  color: #8e939c;
}

.main-range {
  display: flex;
  flex-wrap: wrap;
  padding-top: 61px;
  padding-bottom: 39px;
  margin: auto;
  width: 940px;
}

.range-block1 {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  justify-content: space-between;
  flex-shrink: 0;
  width: 100%;
}

.range-block2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.range-block2 .block {
  margin-top: 20px;
  margin-bottom: 13px;
}

.block {
  width: 300px;
  height: 123px;
}

.block h2 {
  display: block;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 13px;
  padding-left: 22px;
  color: #ffffff;
  font-size: 24px;
  line-height: 1.25;
}

.block a {
  display: block;
  margin-bottom: 30px;
  margin-left: 23px;
  padding-top: 10px;
  width: 135px;
  height: 38px;
  display: block;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.block a:hover,
.block a:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
}

.block a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.materials {
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: 213px 30px;
  background-color: #ffbf47;
}

.tools {
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: 197px 33px;
  background-color: #3bbce3;
}

.technics {
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: 191px 31px;
  background-color: #dc91d8;
}

.discounts {
  background-image: url(../img/icon-4.svg);
  background-repeat: no-repeat;
  background-position: 196px 26px;
  background-color: #8ed78f;
}

.discounts h2,
.delivery h2 {
  padding-top: 20px;
}

.delivery {
  background-image: url(../img/icon-5.svg);
  background-repeat: no-repeat;
  background-position: 191px 32px;
  background-color: #ffc047;
}

.sliders-block {
  position: relative;
  order: -1;
  margin-top: 20px;
}

.sld1-button::before {
  content: "";
  position: absolute;
  top: 106px;
  left: 271px;
  z-index: 2;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
}

.sld2-button::before {
  content: "";
  position: absolute;
  top: 106px;
  right: 275px;
  z-index: 2;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
}

.sld1-button {
  position: absolute;
  width: 22px;
  height: 40px;
  cursor: pointer;
  top: 114px;
  left: 24px;
  background-image: url(../img/icon-left.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.sld2-button {
  position: absolute;
  width: 22px;
  height: 40px;
  cursor: pointer;
  top: 114px;
  left: 578px;
  background-image: url(../img/icon-right.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.slide-1:checked~.drill,
.slide-2:checked~.perforator {
  display: block;
}

.slide-2:checked~.sliders-labels .sld1-button::after {
  content: "";
  position: absolute;
  left: 273px;
  top: 108px;
  z-index: 4;
  width: 6px;
  height: 6px;
  background-color: #ee3643;
  border-radius: 50%;
}

.slide-1:checked~.sliders-labels .sld2-button::after {
  content: "";
  position: absolute;
  right: 277px;
  top: 108px;
  z-index: 4;
  width: 6px;
  height: 6px;
  background-color: #ee3643;
  border-radius: 50%;
}

.drill {
  background-color: #544f44;
  background-image: url(../img/slide-drill.jpg);
  background-repeat: no-repeat;
}

.perforator {
  background-color: #544f44;
  background-image: url(../img/slide-perfor.jpg);
  background-repeat: no-repeat;
}

.sliders {
  display: none;
  width: 620px;
  height: 266px;
  color: #ffffff;
}

.sliders a,
.service-credit a {
  display: block;
  font-size: 14px;
  line-height: 1.29;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 10px;
  width: 195px;
  height: 38px;
  text-align: center;
  background-color: #ee3643;
  border-radius: 4px;
}

.sliders a {
  margin-top: 122px;
  margin-left: 26px;
}

.sliders a:hover,
.sliders a:focus,
.service-credit a:hover,
.service-credit a:focus,
.link-popular:hover,
.link-popular:focus,
.company-details:hover,
.company-details:focus,
.contacts-map:hover,
.contacts-map:focus,
.exit-button button:hover,
.exit-button button:focus,
.link-basket a:hover,
.link-basket a:focus,
.login-button button:hover,
.login-button button:focus {
  outline: none;
  background-color: #ca2c37;
}

.sliders a:active,
.service-credit a:active {
  background-color: #ba2732;
}

.slider-description {
  width: 250px;
  margin: 0;
  padding-top: 22px;
  padding-left: 24px;
  font-size: 36px;
  line-height: 1;
}

.slider-description span {
  display: block;
  padding-top: 3px;
  font-size: 18px;
  line-height: 1.33;
  font-weight: 400;
}

.box-popular {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 28px;
  padding-right: 24px;
  margin: auto;
  width: 940px;
  min-height: 90px;
  background-color: #f9f5f0;
  text-transform: uppercase;
}

.box-popular h2 {
  max-width: 615px;
  padding-top: 5px;
  font-size: 30px;
  font-weight: normal;
  line-height: 1;
  color: #32425c;
}

.link-popular,
.company-details,
.contacts-map,
.exit-button button,
.link-basket a,
.login-button button {
  display: block;
  margin-top: 24px;
  padding-top: 11px;
  text-align: center;
  width: 253px;
  height: 38px;
  background-color: #ee3643;
  font-size: 14px;
  line-height: 1.29;
  color: #ffffff;
  border-radius: 3px;
}

.box-products {
  margin: auto;
  width: 940px;
}

.products-popular {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  padding-top: 20px;
  margin: 0;
  list-style: none;
}

.production-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin: auto;
  width: 940px;
  padding-bottom: 85px;
  list-style: none;
}

.production-items {
  margin-top: 20px;
  border: solid 1px #eaeaea;
  background-color: #ffffff;
}

.production-items:hover,
.production-items a:focus {
  outline: none;
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.production-items:active {
  opacity: 0.3;
}

.production-items a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 219px;
  height: 143px;
}

.production-items img {
  display: block;
  object-fit: contain;
}

.services {
  font-family: "Cuprum", Arial, sans-serif;
  background-color: #f4f7f9;
}

.services .wrap {
  padding-top: 40px;
  min-height: 522px;
}

.caption-services {
  padding: 0;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 400;
}

.desc {
  display: block;
  margin-top: 10px;
  width: 400px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.85;
}

.blocks-services {
  display: flex;
  padding-top: 39px;
}

.tabs-input {
  display: none;
}

.tabs-buttons {
  padding-top: 16px;
  position: relative;
}

.tabs-buttons::after {
  position: absolute;
  content: "";
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
  top: -30px;
  right: 0px;
  width: 10px;
  height: 279px;
  background-image: url(../img/shadow.png);
  background-repeat: no-repeat;
  background-size: 10px 279px;
}

.tabs-button {
  position: relative;
  display: block;
  margin-bottom: 1px;
  padding-top: 15px;
  padding-left: 23px;
  width: 240px;
  height: 61px;
  font-size: 21px;
  line-height: 1.43;
  font-weight: bold;
  color: #ffffff;
  background-color: #32425c;
  box-shadow: inset 0 1px 0 0 #405069,
    0 2px 0 0 #293449;
}

.tabs-button:hover,
.tabs-button:focus {
  outline: none;
  background-color: #293449;
}

.tab {
  display: none;
}

.btn-1:checked~.service-delivery,
.btn-2:checked~.service-garantion,
.btn-3:checked~.service-credit {
  display: block;
}

.btn-1:checked~.tabs-buttons .tabs-button-1,
.btn-2:checked~.tabs-buttons .tabs-button-2,
.btn-3:checked~.tabs-buttons .tabs-button-3 {
  color: #32425c;
  background-color: #ffffff;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  box-shadow: none;
}

.service-delivery {
  padding: 0;
  padding-left: 80px;
  width: 700px;
  background-image: url(../img/car.png);
  background-repeat: no-repeat;
  background-size: 468px 261px;
  background-position: 230px 40px;
}

.service-garantion {
  padding: 0;
  padding-left: 80px;
  width: 700px;
  background-image: url(../img/garantion.png);
  background-repeat: no-repeat;
  background-size: 389px 283px;
  background-position: 316px 16px;
}

.service-credit {
  padding: 0;
  padding-left: 80px;
  width: 700px;
  background-image: url(../img/credit.png);
  background-repeat: no-repeat;
  background-size: 465px 285px;
  background-position: 245px 15px;
}

.title-service {
  padding: 0;
  margin: 0;
  color: #32425c;
  font-size: 36px;
  line-height: 1.85;
  font-weight: 400;
  text-transform: uppercase;
}

.service-delivery p {
  width: 275px;
}

.service-garantion p {
  width: 378px;
}

.service-credit p {
  width: 280px;
}

.service-credit a {
  margin-top: 28px;
}

.wrapper-company-contacts {
  display: flex;
  justify-content: space-between;
  padding-top: 53px;
  padding-bottom: 85px;
  margin: auto;
  width: 940px;
}

.company {
  width: 519px;
}

.company h2,
.contacts h2 {
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1;
}

.company-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(20/18);
}

.company-list li {
  position: relative;
  margin: 0;
  padding-left: 36px;
  margin-bottom: 20px;
}

.company-list li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
}

.company-details {
  display: block;
  margin-top: 37px;
  width: 220px;
  text-transform: uppercase;
}

.contacts {
  width: 300px;
}

.company p:last-of-type,
.contacts p:last-of-type {
  padding-right: 100px;
  margin-bottom: 19px;
  text-align: left;
}

.company p,
.contacts p {
  padding-top: 1px;
  margin-bottom: 25px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.85;
  text-align: justify;
}

.contacts img {
  width: 300px;
  margin-top: 10px;
  min-height: 158px;
  object-fit: contain;
}

.contacts-map {
  width: 100%;
  display: block;
  margin-top: 40px;
  padding-left: 6px;
  text-transform: uppercase;
}

.inner {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 22px;
  margin-bottom: 22px;
  width: 940px;
  padding: 0;
  list-style: none;
  font-size: 13px;
  line-height: calc(18/13);
}

.nav-list a {
  color: #000000;
}

.nav-items .icon-house {
  display: block;
  width: 20px;
  color: transparent;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-size: 14px 12px;
}

.arrow {
  position: relative;
  padding-right: 9px;
  padding-left: 33px;
}

.arrow::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-35%);
  width: 20px;
  height: 20px;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  opacity: 1;
}

.title {
  margin: auto;
  margin-bottom: 20px;
  width: 940px;
  padding-left: 28px;
  padding-top: 30px;
  height: 89px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
  color: #32425c;
  background-color: #f3f7f8;
}

.main-wrapper {
  margin: auto;
  width: 940px;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.filters {
  display: flex;
  flex-direction: column;
  width: 220px;
}

.filters h2 {
  display: block;
  margin: 0;
  margin-bottom: 12px;
  padding-top: 9px;
  padding-left: 19px;
  width: 220px;
  height: 38px;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.filter-price,
.filter-production,
.filter-power {
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
}

.filter-price {
  padding-bottom: 26px;
  border-bottom: 1px solid #999999;
}

.range-price {
  margin-bottom: 6px;
  height: 80px;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.scale {
  margin-left: 20px;
  margin-top: 15px;
  width: 180px;
  height: 2px;
  background-color: #d7dcde;
}

.scale-after {
  width: 152px;
  height: 2px;
  background-color: #61d322;
}

.toggle {
  position: relative;
  top: 29px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px #d7dcde;
  cursor: pointer;
}

.toggle::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  top: 8px;
  left: 8px;
  background-color: #999999;
  border-radius: 50%;
}

.min-price {
  left: 19px;
}

.max-price {
  left: 135px;
}

.wrapper-filter-price {
  display: flex;
  justify-content: space-between;
}

.wrapper-filter-price input {
  width: 95px;
  height: 38px;
  text-align: center;
  background-color: #f7f3ec;
  border: none;
  border-radius: 3px;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.wrapper-filter-price span {
  display: block;
  margin-top: 20px;
  width: 7px;
  height: 1px;
  background-color: #000000;
}

.filter-price legend,
.filter-production legend,
.filter-power legend {
  padding-bottom: 14px;
  font-size: 17px;
  line-height: calc(30/17);
  font-weight: bold;
}

.filter-production {
  margin-top: 16px;
  padding-bottom: 2px;
  border-bottom: 1px solid #999999;
}

.filter-production-list,
.power-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter-production-items {
  border: none;
  padding-bottom: 21px;
}

.label-production,
.label-power {
  position: relative;
  padding-left: 35px;
  font-size: 15px;
  line-height: 1.33;
}

.label-production::before {
  content: "";
  position: absolute;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.filter-production-items input:checked~.label-production::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.filter-production-items input:checked:focus~.label-production::before,
.filter-production-items input:focus~.label-production::before,
.filter-production-items input~.label-production:hover::before,
.filter-production-items input:checked~.label-production:hover::before,
.power-items input:focus~.label-power::before,
.power-items input:checked:focus~.label-power::before,
.power-items input~.label-power:hover::before,
.power-items input:checked~.label-power:hover::before {
  opacity: 0.6;
}

.filter-production-items input:disabled~.label-production::before {
  opacity: 0.1;
}

.filter-power {
  margin-top: 17px;
  padding-bottom: 59px;
}

.power-items {
  padding-bottom: 20px;
}

.label-power::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.power-items input:checked~.label-power::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-on.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.filter-button {
  width: 140px;
  height: 38px;
  font-size: 13px;
  line-height: calc(18/13);
  background-color: #ffffff;
  border: 1px solid #c5c5c5;
  text-transform: uppercase;
}

.none {
  position: absolute;
  top: 0.7em;
  left: 0;
  margin: 0;
  padding: 0;
  transform: translateY(-50%);
  opacity: 0;
}

.sorting {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 19px;
  margin-left: 20px;
  width: 700px;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.sorting h2 {
  width: 200px;
  height: 38px;
  margin: 0;
  display: block;
  padding-top: 10px;
  padding-left: 18px;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;
}

.sorting-list {
  display: flex;
  flex-wrap: wrap;
  width: 430px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-size {
  display: flex;
  flex-wrap: wrap;
  width: 70px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-items {
  margin-left: 40px;
  margin-right: 28px;
  padding-top: 10px;
  color: #000000;
  font-size: 13px;
  line-height: 1.38;
}

.item4 a {
  display: block;
  width: 35px;
  height: 35px;
  font-size: 0;
  background-image: url(../img/more.svg);
  opacity: 0.2;
  background-position: 10px 14px;
  background-size: 11px 10px;
  background-repeat: no-repeat;
}

.item5 a {
  display: block;
  width: 35px;
  height: 35px;
  font-size: 0;
  background-image: url(../img/less.svg);
  opacity: 0.2;
  background-position: 8px 14px;
  background-size: 11px 10px;
  background-repeat: no-repeat;
}

.item5 a:hover, .item4 a:hover,
.item5 a:focus, .item4 a:focus {
  outline: none;
  opacity: 1;
}

.sorting-items a {
  display: block;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sorting-items a:hover,
.sorting-items a:focus {
  outline: none;
  color: rgba(0, 0, 0, 0.9);
  border-bottom: 1px solid #ee3643;
}

.item4 .sorting-active {
  background-image: url(../img/more-active.svg);
  opacity: 1;
}

.item1 .sorting-active {
  color: #ee3643;
  border: none;
}

.products-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  list-style: none;
  width: 720px;
}

.products-item {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  width: 220px;
  border: 1px solid #e5e5e5;
}

.new {
  position: relative;
}

.new::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  z-index: 1;
  background: url("../img/new.png") no-repeat;
  background-position: top right;
}

.products-item h3 {
  margin: 0;
  padding-top: 8px;
  padding-left: 27px;
  padding-right: 29px;
  padding-bottom: 2px;
  font-size: 18px;
  line-height: calc(20/18);
  font-weight: bold;
  text-transform: none;
}

.products-item:hover,
.products-item:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product-img {
  width: 218px;
  height: 170px;
  overflow: hidden;
  object-fit: contain;
}

.old-price {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 17px;
  line-height: calc(18/17);
  font-weight: bold;
  color: #999999;
}

.old-price:not(.transparent)::before {
  content: "";
  position: absolute;
  left: 75px;
  right: 0;
  top: 50%;
  width: 67px;
  height: 1px;
  background-color: #999999;
}

.transparent {
  color: transparent;
}

.price {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 19px;
  font-size: 17px;
  line-height: calc(18/17);
  font-weight: bold;
  color: #ffffff;
  background-image: url("../img/red-price.svg");
  background-position: 42px 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.product-link {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 218px;
  height: 164px;
  padding: 40px 0;
  background-color: #ffffff;
}

.products-item:hover .product-link,
.products-item:focus .product-link {
  display: block;
}

.product-link a {
  display: block;
  padding-top: 12px;
  margin: auto;
  margin-bottom: 10px;
  width: 135px;
  height: 38px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: calc(18/14);
  text-align: center;
  text-transform: uppercase;
}

.link-buy {
  position: relative;
  padding-left: 9px;
  color: #ffffff;
  background-color: #63a63e;
  box-shadow: 0 2px 0 0 #367315;
  border-radius: 2px;
}

.link-buy::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-40%);
  width: 20px;
  height: 20px;
  background-image: url("../img/cart-icon-active.svg");
  background-repeat: no-repeat;
  opacity: 0.5;
}

.link-buy:hover,
.link-buy:focus {
  outline: none;
  background-color: #5fbb2d;
}

.link-buy:hover::before,
.link-buy:focus::before {
  background-image: url("../img/cart-icon-active.svg");
  opacity: 1;
}

.link-buy:active {
  background-color: #518534;
}

.link-bookmark {
  color: #32425c;
  border: 2px solid #63a63e;
  border-radius: 2px
}

.link-bookmark:hover,
.link-bookmark:focus {
  outline: none;
  border: 2px solid #32425c;
}

.link-bookmark:active {
  color: #c1c6ce;
  border: 2px solid #c1c6ce;
}

.pages {
  width: 100%;
}

.pages-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 31px;
  margin-bottom: 62px;
  padding: 0;
  padding-left: 241px;
  list-style: none;
  font-size: 13px;
  line-height: calc(18/13);
}

.pages-items {
  margin-right: 10px;
  width: 38px;
  height: 38px;
  text-align: center;
  border-radius: 3px;
}

.pages-items a {
  display: block;
  padding-top: 10px;
  width: 38px;
  height: 38px;
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pages-items .pages-active {
  color: #ffffff;
}

.pages-active {
  border: solid 1px #ee3643;
  background-color: #ee3643;
}

.pages-items:last-child a {
  width: 140px;
}

.pages-items:last-child {
  width: 140px;
  height: 38px;
}

.pages-items a:hover,
.pages-items a:focus {
  outline: none;
  border: 1px solid #bdc6ca;
}

.pages-items a:active {
  border: 1px solid #ee3643;
}

.main-article {
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: none;
  background-color: #f2f6f8;
}

.main-article .wrap {
  padding-top: 40px;
  padding-bottom: 55px;
}

.main-article h2 {
  font-size: 30px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
}

.main-article p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.85;
  text-align: justify;
  word-spacing: 1px;
}

.footer-menu {
  background-color: #32425c;
}

.footer-menu .wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: auto;
  width: 940px;
  padding-bottom: 10px;
  background-color: #32425c;
}

.footer-logo {
  width: 220px;
  height: 63px;
  padding-top: 20px;
  text-align: center;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #91030d;
}

.footer-menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 170px;
  margin-top: 38px;
  width: 720px;
}

.footer-menu-list a {
  color: #ffffff;
}

.footer-menu-list a:hover,
.footer-menu-list a:focus,
.footer-catalog-list a:hover,
.footer-catalog-list a:focus {
  outline: none;
  text-decoration: underline;
}

.footer-menu-list a:active {
  color: #b0b1b3;
  text-decoration: none;
}

.footer-menu-list,
.footer-catalog-list {
  list-style: none;
  font-size: 18px;
  line-height: calc(24/18);
}

.footer-catalog {
  background-color: #32425c;
}

.footer-catalog .wrap {
  display: flex;
  flex-wrap: wrap;
  padding-top: 6px;
  padding-bottom: 48px;
  margin: auto;
  width: 940px;
  background-color: #32425c;
}

.footer-catalog-list {
  display: flex;
  flex-wrap: wrap;
  width: 573px;
  margin: 0;
  padding: 0;
  order: 1;
}

.footer-catalog-list a {
  padding-right: 2px;
  color: #ffd180;
}

.footer-catalog-list a:active {
  color: #998a6e;
  text-decoration: none;
}

.footer-catalog-item {
  padding-left: 54px;
}

.footer-contacts a {
  display: block;
  color: #ffffff;
}

.footer-contacts {
  flex-shrink: 0;
  padding-left: 2px;
  width: 367px;
  font-size: 18px;
  line-height: calc(24/18);
  color: #ffffff;
}

.copyright {
  color: #ffffff;
  background-color: #293449;
}

.copyright .wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 17px;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: calc(18/16);
  background-color: inherit;
}

.copyright p {
  flex-shrink: 0;
  padding-top: 5px;
  padding-right: 70px;
  width: 310px;
}

.copyright a {
  color: #f1c77c;
}

.copyright a:hover,
.copyright a:focus {
  outline: none;
  color: #f1c77c;
  text-decoration: underline;
}

.copyright a:active {
  color: #ee3643;
  text-decoration: none;
}

.social-networks {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  color: transparent;
  width: 310px;
  padding-top: 2px;
  padding-left: 75px;
}

.social-networks-item {
  width: 45px;
  text-align: right;
}

.social-networks a {
  color: transparent;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  font-size: 28px;
  background-color: #212a3a;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.social-networks a:hover,
.social-networks a:focus,
.social-networks a:active {
  color: transparent;
}

.social-networks-item a:hover,
.social-networks-item a:focus,
.social-networks-item a:active {
  outline: none;
  background-color: #ee3643;
}

.vk {
  background-image: url("../img/vk-icon.svg");
}

.fb {
  background-image: url("../img/fb-icon.svg");
}

.insta {
  background-image: url("../img/insta-icon.svg");
}

.wrapper-copyright {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 320px;
}

.wrapper-copyright p {
  width: 50%;
  padding: 0;
  padding-top: 5px;
  padding-left: 20px;
}

.wrapper-copyright p:last-child {
  padding-left: 50px;
}

.map-popup {
  display: none;
  position: fixed;
  bottom: 100px;
  margin-right: calc(50% - 470px);
  margin-left: calc(50% - 470px);
  padding: 0;
  z-index: 100;
  object-fit: contain;
}

.map-popup p {
  margin: 0;
}

.map-popup img {
  position: absolute;
  z-index: 1;
  bottom: 0;
  box-shadow: 0 0 10px 2px #999999;
}

.map-popup iframe {
  position: relative;
  z-index: 2;
}

.popups {
  position: fixed;
  width: 620px;
  margin-right: calc(50% - 310px);
  margin-left: calc(50% - 310px);
  padding: 0;
  z-index: 100;
  background-color: #ffffff;
  border-top: 7px solid #ee3643;
  box-shadow: 0px 20px 40px 0 #000000;
}

.entrance-button {
  position: absolute;
  top: 8px;
  right: 9px;
  width: 25px;
  height: 25px;
  z-index: 101;
  color: transparent;
  font-size: 0;
  border: none;
  background: url("../img/x-red.svg") no-repeat;
  background-position: center;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.feedback-popup {
  display: none;
  bottom: 150px;
}

.feedback-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
}

.feedback-form p {
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
}

.feedback-textarea {
  width: 100%;
  padding-bottom: 35px;
}

.feedback-form input,
.feedback-textarea textarea,
.login-popup input {
  width: 220px;
  min-height: 38px;
  border: solid 2px #dee3e4;
  border-radius: 2px;
}

.feedback-form input::placeholder,
.feedback-textarea textarea,
.login-popup input::placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  padding-top: 7px;
  padding-left: 13px;
  font-size: 13px;
  line-height: 1.38;
  color: #dee3e4;
}

.feedback-textarea textarea {
  resize: none;
  width: 100%;
}

.feedback-textarea textarea:focus {
  color: #000000;
}

.feedback-form label,
.login-popup label {
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 1;
}

.exit-button,
.link-basket,
.login-button {
  margin: 0;
  padding-top: 13px;
  padding-right: 80px;
  padding-bottom: 37px;
  padding-left: 80px;
  background-color: #f4f4f4;
}

.exit-button button,
.exit-popup button,
.login-button button {
  width: 100%;
  padding: 0;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
}

.basket-popup {
  display: none;
  bottom: 200px;
}

.basket-popup h2 {
  position: relative;
  margin: 0;
  padding-top: 65px;
  padding-bottom: 68px;
  padding-left: 180px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 1;
  font-weight: 400;
}

.basket-popup h2::before {
  content: "";
  position: absolute;
  left: 80px;
  top: 46px;
  width: 66px;
  height: 66px;
  background-image: url(../img/green-icon.svg);
}

.link-basket {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.link-basket a {
  width: 220px;
  text-transform: uppercase;
}

.link-basket a:last-child {
  color: #000000;
  background-color: #ffffff;
}

.login-popup {
  display: none;
  font-family: "Cuprum", Arial, sans-serif;
  background-color: #ffffff;
  bottom: 300px;
}

.login-popup p {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 80px;
  padding-right: 200px;
}

.login-button button {
  width: 460px;
}

.login-popup input:hover {
  border: solid 2px #c5c5c5;
}

.login-popup input:focus,
.login-popup input:active {
  outline: none;
  border: solid 2px #ee3643;
}

.popup-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}