html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: 'Cuprum',Arial, sans-serif;
  font-size: 17px;
  line-height: 1;
  color: #000000;
  text-align:left;
}
 a {
  text-decoration: none;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
.header {
  background-color: #f4f7f9;
}
.user-menu {
  display: flex;
  padding-left: calc(50% - 470px);
  padding-right: calc(50% - 470px);
  background-color:#293449;
}
.logo{
  width: 220px;
  height: 42px;
  padding-top: 10px;
  text-align: center;
  background-color:#ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}
.logo:hover, .logo:focus,
.footer-logo:hover, .footer-logo:focus
 {
  background-color:#ca2c37;
}
.logo:active,
.footer-logo:active {
  background-color:#ba2732;
}
.user-menu-search {
    width: 250px;
    position:relative;
    padding-left:20px;
    color:#ffffff;
    font-size: 17px;
    line-height: calc(18/17);
    background-repeat:no-repeat;
  }
  .user-menu-search input:hover + label {
    background-color:#212a3a;
  }
.user-menu-search:hover,
.user-menu-search:focus {
  background-color:#212a3a;
}
.user-menu-search::before {
  content:"";
  position:absolute;
  left:0px;
  top:0px;
  width: 15px;
  height: 15px;
  background-image:url("../img/icon-search.svg");
  background-repeat:no-repeat;
}
.user-menu-search:hover::before,
.user-menu-search:focus::before {
  background-image:url("../img/icon-search-active.svg");
}
.user-menu-search:active::before {
  background-image:url("../img/icon-search.svg");
}
.user-menu-list {
  display: flex;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  list-style:none;
  color:#ffffff;
  font-size: 17px;
  line-height: calc(18/17);
  text-align: center;
}
.user-menu-item{
  width: 150px;
}
.user-menu-list a {
   height: 42px;
   padding-top: 12px;
   display: block;
   color:#ffffff;
}
.user-menu-item a:hover,
.user-menu-item a:focus {
background-color:#212a3a;
}
.user-menu-item a:active {
  color:#8b8e94;
  background-color:#161d29;
}
.icon-bookmark {
  position:relative;
  padding-left:15px;
}
.icon-bookmark::before {
  content:"";
  position:absolute;
  left:15px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-image:url("../img/icon-bookmark.svg");
  background-repeat:no-repeat;
  }
.icon-bookmark:hover::before,
.icon-bookmark:focus::before {
      background-image:url("../img/icon-bookmark-active.svg");
  }
  .icon-bookmark:active::before {
        background-image:url("../img/icon-bookmark.svg");
    }
.icon-cart {
    position:relative;
    padding-left:15px;
  }
.icon-cart::before {
  content:"";
  position:absolute;
  left:15px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-image:url("../img/cart-icon.svg");
  background-repeat:no-repeat;
}
.icon-cart:hover::before,
.icon-cart:focus::before {
    background-image:url("../img/cart-icon-active.svg");
}
.icon-cart:active::before {
    background-image:url("../img/cart-icon.svg");
}
.cart{
  position:relative;
  padding-left:15px;
  background-color: #ee3643;
}
.cart::before {
  content:"";
  position:absolute;
  left:15px;
  top:50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-image:url("../img/cart-icon-red.svg");
  background-repeat:no-repeat;
}
.user-menu-item:last-child {
  background-color:#63a63e;
}
.user-menu-item:last-child a:hover,
.user-menu-item:last-child a:focus {
  background-color:#5fbb2d;
}
.user-menu-item:last-child a:active {
  color:#a8c29a;
  background-color:#518534;
}
.header-wrapper {
  display: flex;
  align-items: flex-start;
  margin-top: 46px;
  margin-right: calc(50% - 470px);
  margin-left: calc(50% - 470px);
}
.header-description {
    display: block;
    padding-right: 71px;
    padding-left: 53px;
    width: 310px;
    font-size: 16px;
    color: #ee3643;
    font-style: italic;
    line-height: calc(23/16);
  }
.header-contacts {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  width:310px;
}
.header-tel {
  display:block;
  width: 270px;
  height: 45px;
  padding-top: 10px;
  margin-bottom: 5px;
  padding-left: 19px;
  text-align: center;
  font-size: 21px;
  color: #ee3643;
  line-height: 1;
  position:relative;
  border: 3px solid #ffffff;
}
.header-tel::before {
  content:"";
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  left: 15px;
  width: 19px;
  height: 19px;
  background-image:url("../img/icon-phone.svg");
  background-repeat:no-repeat;
}
.header-address {
    width: 250px;
    font-size: 14px;
    color: #32425c;
    line-height: calc(24/14);
    text-align: center;
}
.header-exit {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 320px;
  padding: 0;
  padding-left: 20px;
  margin: 0;
  list-style:none;
  color: #ee3643;
  font-size: 21px;
  line-height: 1;
}
.exit-item {
  width: 121px;
  height: 45px;
  background-color: #ffffff;
  text-align: center;
}
.exit-item:last-child {
  margin-left: 10px;
  width: 150px;
}
.icon-exit {
  position:relative;
  padding-left:30px;
}
.icon-exit::before {
content:"";
position:absolute;
left:10px;
top:50%;
transform: translateY(-50%);
width: 20px;
height: 20px;
background-image:url("../img/icon-login.svg");
background-repeat:no-repeat;
}
.icon-exit:hover::before,
.icon-exit:focus::before {
  background-image:url("../img/icon-login-active.svg");
}
.icon-exit:active::before {
  background-image:url("../img/icon-login.svg");
}
.exit-item a {
  display: block;
  padding-top: 12px;
  height: 45px;
  color:#000000;
}
.exit-item a:hover,
.exit-item a:focus {
  color:#ee3643;
}
.exit-item a:active {
  color:#c5c5c5;
}
.name {
  display: block;
  padding-top: 13px;
  padding-right: 20px;
  width: 299px;
  height: 45px;
  color: #000000;
  font-size:21px;
  line-height: 1;
  position: relative;
}
.name:active {
  opacity: 0.3;
}
.name::before {
  content:"";
  position:absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 20px;
  height: 17px;
  background-image:url("../img/icon-user.svg");
  background-repeat:no-repeat;
  opacity: 0.4;
}
.name::after {
  content:"";
  position:absolute;
  left: 270px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 18px;
  background-image:url("../img/icon-logout.svg");
  background-repeat:no-repeat;
  opacity: 0.4;
}
.name:hover::before,
.name:focus::before {
  background-image:url("../img/icon-user.svg");
  opacity:1;
}
.name:hover::after,
.name:focus::after {
  background-image:url("../img/icon-logout.svg");
  opacity:1;
}
.user-item:first-child {
  width: 100%;
  height: 45px;
  text-align: center;
  background-color: #ffffff;
}
.user-item {
  width: 50%;
}
.user-link {
  font-size: 16px;
  line-height: 1.13;
  color: #32425c;
  text-decoration-line: underline;:
}
.user-link:hover,
.user-link:focus {
  color:#ee3643;
}
.user-link:active {
  color: #32425c;
  opacity: 0.5;
}
.nav {
  margin-right: calc(50% - 470px);
  margin-left: calc(50% - 470px);
}
.main-menu-list {
    display: flex;
    padding: 0;
    margin: 0;
    padding-bottom: 60px;
    list-style:none;
    font-size: 17px;
    line-height: 1;
    text-align: center;
  }
.main-menu-item {
    width: 134px;
    padding: 0px;
    background-color:#32425c;
  }
.main-menu-item a{
  display: block;
  padding-top: 20px;
  color:#ffffff;
  height: 60px;
}
.main-menu-item a:hover,
.main-menu-item a:focus {
  background-color:#293449;
}
.main-menu-item a:active {
  color: #8e939c;
}
/*Перша сторінка */
.main-range {
  display: flex;
  flex-wrap: wrap;
  padding-top: 59px;
  padding-bottom: 53px;
  padding-right: calc(50% - 470px);
  padding-left: calc(50% - 470px);
}
.range-block1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.range-block2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.block {
  width: 300px;
  height: 123px;
}
.block h2{
  margin-left: 23px;
  color: #ffffff;
  font-size: 24px;
  line-height: 1.25;
}
.block a {
  margin-left: 25px;
  padding-top: 10px;
  width: 135px;
  height: 38px;
  display: block;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(0,0,0,0.1);
}
.block a:hover,
.block a:focus {
  background-color: rgba(0,0,0,0.2);
}
.block a:active {
  background-color: rgba(0,0,0,0.3);
}
.materials {
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: 213px 31px;
  background-color: #ffbf47;
}
.tools {
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: 197px 33px;
  background-color: #3bbce3;
}
.technics {
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: 191px 31px;
  background-color: #dc91d8;
}
.discounts {
  background-image: url(../img/icon-4.svg);
  background-repeat: no-repeat;
  background-position: 196px 26px;
  background-color: #8ed78f;
}
.delivery {
  background-image: url(../img/icon-5.svg);
  background-repeat: no-repeat;
  background-position: 191px 32px;
  background-color: #ffc047;
}
.sliders {
  margin-top: 20px;
  width: 620px;
  color: #ffffff;
}
.sliders a,
.service-credit a{
  display: block;
  font-size: 14px;
  line-height: 1.29;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 10px;
  width: 195px;
  height: 38px;
  text-align: center;
  background-color: #ee3643;
  border-radius: 3px;
}
.sliders a {
  margin-top: 140px;
  margin-left: 25px;
}
.sliders a:hover,
.sliders a:focus,
.service-credit a:hover,
.service-credit a:focus{
  background-color: #ca2c37;
}
.sliders a:active,
.service-credit a:active {
   background-color: #ba2732;
}
.sliders h2 {
  font-size: 36px;
  line-height: 1;
}
.sliders h2 span {
  font-size: 18px;
  line-height: 1.33;
}
.drill {
  order: -1;
  background-image: url(../img/slide-drill.jpg);
  background-repeat: no-repeat;
}
.perforator {
  display: none;
  background-image: url(../img/slide-perfor.jpg);
  background-repeat: no-repeat;
}
.box-popular {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 24px;
   margin-right: calc(50% - 470px);
   margin-left: calc(50% - 470px);
   background-color: #f9f5f0;
   text-transform: uppercase;
}
.box-popular h2 {
  font-size: 30px;
  font-weight: normal;
  line-height: 1;
  color: #32425c;
}
.link-popular {
  display: block;
  margin-top: 20px;
  padding-top: 10px;
  text-align: center;
  width: 253px;
  height: 38px;
  background-color: #ee3643;
  font-size: 14px;
  line-height: 1.29;
  color: #ffffff;
  border-radius: 3px;
}
.box-products {
  margin-right: calc(50% - 470px);
  margin-left: calc(50% - 470px);
  margin-top: 20px;
}
.products-popular {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style:none;
}
.production-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: calc(50% - 470px);
  margin-left: calc(50% - 470px);
  padding: 0;
  list-style: none;
}
.production-items {
  margin-top: 20px;
  border: solid 1px #eaeaea;
  background-color: #ffffff;
}
.production-items a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
}
.production-items img {
  display: block;
  object-fit: contain;
}
.services {
  padding-top: 40px;
  padding-right: calc(50% - 470px);
  padding-left: calc(50% - 470px);
  height: 522px;
  font-family: 'Cuprum',Arial, sans-serif;
  background-color: #f4f7f9;
}
.desc {
  display: block;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 1.85;
}
.caption-services {
font-size: 30px;
line-height: 1;
text-transform: uppercase;
}
.caption-services+.desc {
  width: 398px;
}
.blocks-services {
  display: flex;
  padding-top: 55px;
}

.tabs-input {
  display: none;
}
.tabs-button {
  display: block;
  margin-bottom: 1px;
  padding-top: 15px;
  padding-left: 23px;
  width: 240px;
  height: 61px;
  font-size: 21px;
  line-height: 1.43;
  font-weight: bold;
  color: #ffffff;
  background-color: #32425c;
  box-shadow:  inset 0 1px 0 0 #405069,
  0 2px 0 0 #293449;
}
.tabs-button:hover,
.tabs-button:focus {
  background-color: #293449;
}
.tab {
  display: none;
}
.service-delivery {
  padding: 0;
  padding-left: 80px;
  padding-bottom: 99px;
  width: 695px;
  background-image: url(../img/car.png);
  background-repeat: no-repeat;
  background-size: 468px 261px;
  background-position: right;
}
.title-service {
  display: block;
  padding: 0;
  color: #32425c;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
}
.service-delivery p {
  display: block;
  width: 275px;
}
.btn-1:checked ~ .service-delivery,
.btn-2:checked ~ .service-credit,
.btn-3:checked ~ .service-garantion {
  display: block;
}

.wrapper-company-contacts {
  display: flex;
  justify-content: space-between;
  margin-right: calc(50% - 470px);
  margin-left: calc(50% - 470px);
  padding-bottom: 43px;
  margin-bottom: 43px;
}
.company{
  width: 519px;
}
.company h2 {
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1;
}
.company p {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 1.85;
}
.company-list {
list-style:none;
padding: 0;
font-size: 18px;
line-height: calc(20/18);
}
.company-details,
 .contacts-map {
  background-color: #ee3643;
  font-size:14px;
  color:#ffffff;
  text-transform: uppercase;
  line-height: calc(18/14);
  text-align: center;
}
.contacts {
width: 300px;
}
.contacts h2 {
  font-size:30px;
  text-transform: uppercase;
  line-height: 1;
}
.contacts p {
  font-size:13px;
  line-height: calc(24/13);
}

 /* Друга сторінка */
.inner {
  font-family: 'PT Sans', Arial, sans-serif;
  text-transform: uppercase;
}
.nav-list {
  margin-right: calc(50% - 470px);
  margin-left: calc(50% - 470px);
  display: flex;
  padding:0;
  margin-top: 23px;
  list-style: none;
  font-size: 13px;
  line-height: calc(18/13);
}
.nav-list a {
  color:#000000;
}
.nav-items .icon-house {
  color: transparent;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
}
.arrow {
  position: relative;
  padding-left: 30px;
}
.arrow::before {
  content:"";
  position:absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-35%);
  width: 20px;
  height: 20px;
  background-image:url("../img/arrow.svg");
  background-repeat:no-repeat;
  opacity: 1;
}
.title {
  margin-right: calc(50% - 470px);
  margin-left: calc(50% - 470px);
  padding-left: 30px;
  padding-top: 25px;
  height: 89px;
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
  color: #32425c;
  background-color: #f3f7f8;
}
.main-wrapper {
  padding-right: calc(50% - 470px);
  padding-left: calc(50% - 470px);
  display: flex;
  flex-wrap: wrap;
}
.filters {
  display: flex;
  flex-direction: column;
  width: 220px;
}
.filters h2 {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-left: 18px;
  width: 220px;
  height: 38px;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;
  background-color: #f7f3ec;
}
.filter-price,
.filter-prodaction,
.filter-power {
  margin-top: 25px;
  border: none;
}
.filter-price legend,
.filter-prodaction legend,
.filter-power legend{
  font-size: 17px;
  line-height: calc(30/17);
  font-weight: bold;
}
.prodaction-list,
.power-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.filter-button {
  width: 140px;
  height: 38px;
  line-height: calc(18/13);
  background-color: #ffffff;
  border: 1px solid #c5c5c5;
}
.sorting {
  display: flex;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 700px;
  background-color: #f7f3ec;
}
.sorting h2 {
  width: 200px;
  height: 38px;
  margin: 0;
  display: block;
  padding-top: 10px;
  padding-left: 18px;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;
}
.sorting-list {
  display: flex;
  width: 500px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sorting-items {
  padding-top: 10px;
  font-size: 13px;
  line-height: 1.38;
}
.item1 {
padding-left: 40px;
}
.item2 {
padding-left: 70px;
}
.item3 {
padding-left: 65px;
}
.item4 {
padding-left: 43px;
}
.item5 {
padding-left: 18px;
}
.sorting-items:first-child {

}
.sorting-items a {
  display: block;
  color: #000000;
  opacity: 0.3;
}
.sorting-items a:hover,
.sorting-items a:focus {
 opacity: 0.9;
}
.more {
  width: 15px;
  height: 15px;
  font-size: 0;
  background-image: url(../img/more.svg);
  background-position: center;
  background-size: 11px 10px;
  background-repeat: no-repeat;
}
.less {
  width: 15px;
  height: 15px;
  font-size: 0;
  background-image: url(../img/less.svg);
  background-position: center;
  background-size: 11px 10px;
  background-repeat: no-repeat;
}
.products-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  list-style:none;
  width: 720px;
}

.products-item {
  margin-bottom: 20px;
  width: 220px;
  border: 1px solid #e5e5e5;
}

.products-item h3 {
  font-size: 18px;
  line-height: calc(20/18);
  font-weight: bold;
}
.products-item:hover,
.products-item:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.product-img {
  width: 218px;
  height: 170px;
  overflow: hidden;
  object-fit: contain;
}
.old-price {
  font-size: 17px;
  line-height: calc(18/17);
  font-weight: bold;
  text-decoration-line: line-through;
  color: #999999;
}
.price {
  font-size: 17px;
  line-height: calc(18/17);
  font-weight: bold;
  color: #ffffff;
  background-image: url("../img/red-price.svg");
  background-size:contain;
  background-repeat: no-repeat;
}
.product-link a {
  font-family: 'Cuprum',Arial, sans-serif;
  font-size: 14px;
  line-height: calc(18/14);
  text-align: center;
}
.link-buy {
  position: relative;
  padding-left: 20px;
  color: #ffffff;
  background-color: #63a63e;
  box-shadow: 0 2px 0 0 #367315;
  border-radius: 2px;
}
.link-buy::before {
  content:"";
  position:absolute;
  left: 0px;
  top: 2px;
  width: 20px;
  height: 20px;
  background-image:url("../img/cart-icon-active.svg");
  background-repeat:no-repeat;
  opacity: 0.5;
}
.link-buy:hover,
.link-buy:focus {
  background-color: #5fbb2d;
background-image:url("../img/cart-icon-active.svg");
background-repeat:no-repeat;
background-position: left;
opacity: 1;
}
.link-buy:active {
  background-color: #518534;
}
.link-bookmark {
  color: #32425c;
  border: 2px solid #63a63e;
  border-radius: 2px
}
.link-bookmark:hover,
.link-bookmark:focus {
  border: 2px solid #32425c;
}
.link-bookmark:active {
  color: #c1c6ce;
  border:2px solid #c1c6ce;
}
.pages {
  width: 100%;
}
.pages-list {
  display: flex;
  margin-top: 50px;
  margin-bottom: 60px;
  padding: 0;
  padding-left: 240px;
  list-style: none;
  font-size: 13px;
  line-height: calc(18/13);
}
.pages-items {
  margin-right: 10px;
  width: 38px;
  height: 38px;
  text-align: center;
  border: 1px solid #e5e5e5;
}
.pages-items a {
  display: block;
  padding-top: 8px;
  width: 38px;
  height: 38px;
  color: #000000;
}
.pages-items:last-child a {
 width: 140px;
}
.pages-items:last-child {
  width: 140px;
  height: 38px;
}
.pages-items:hover,
.pages-items:focus {
  border: 1px solid #bdc6ca;
}
.pages-items:active {
  border: 1px solid #ee3643;
}
.main-article {
  padding-right: calc(50% - 470px);
  padding-top: 40px;
  padding-bottom: 60px;
  padding-left: calc(50% - 470px);
  font-family: 'Cuprum',Arial, sans-serif;
  text-transform: none;
  background-color: #f2f6f8;
}
.main-article h2 {
  font-size: 30px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
}
.main-article p {
  font-size: 13px;
  line-height: calc(24/13);
}
footer {
  background-color:#32425c;
  color:#ffffff;
}
.footer-menu {
 display: flex;
 justify-content: flex-start;
 margin-right: calc(50% - 470px);
 margin-left: calc(50% - 470px);
 padding-bottom: 15px;
 width: 940px;
}
.footer-logo {
  width: 220px;
  height: 63px;
  padding-top: 20px;
  text-align: center;
  background-color:#ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}
.footer-menu-list {
  display: flex;
  justify-content:space-between;
  padding-left: 173px;
  margin-top: 40px;
  width: 720px;
}
.footer-menu-list a {
  color:#ffffff ;
}
.footer-menu-list a:hover,
.footer-menu-list a:focus,
.footer-catalog-list a:hover,
.footer-catalog-list a:focus {
  text-decoration-line: underline;
}
.footer-menu-list a:active {
  color:#b0b1b3;
  text-decoration-line: none;
}
.footer-menu-list,
.footer-catalog-list {
  list-style:none;
  font-style:18px;
  line-height: calc(24/18);
}
.footer-catalog {
  display: flex;
  margin-right: calc(50% - 470px);
  margin-left: calc(50% - 470px);
  padding-bottom: 43px;
}
.footer-catalog-list {
  display: flex;
  order: 1;
}
.footer-catalog-list a {
  color:#ffd180;
}
.footer-catalog-list a:active {
  color: #998a6e;
  text-decoration-line: none;
}
.footer-catalog-item {
  padding-left: 63px;
}

.footer-contacts a {
  color:#ffffff;
}
.footer-contacts {
  padding-left: 5px;
  width: 320px;
  font-style:18px;
  line-height: calc(24/18);
}
.copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-right: calc(50% - 470px);
  padding-left: calc(50% - 470px);
  font-size:16px;
  line-height: calc(18/16);
  background-color: #293449;
}
.copyright p {
  width: 310px;
}
.copyright a {
  color:#f1c77c;
}
.copyright a:hover {
  color:#f1c77c;
  text-decoration-line: underline;
}
.copyright a:active {
  color:#ee3643;
  text-decoration-line:none;
}
.social-networks a {
  color:transparent;
  display: inline-block;
}
.social-networks {
  display: flex;
  justify-content: center;
  list-style:none;
  color:transparent;
  width: 310px;
  padding: 0;
  }

.social-networks a:hover,
.social-networks a:focus,
.social-networks a:active {
    color:transparent;
}
.social-networks-item {
width:50px;
}
.social-networks-link {
  width: 40px;
  height: 40px;
  font-size:28px;
  margin: 5px;
  background-color:#212a3a;
  background-repeat:no-repeat;
  background-position: center;
  border-radius: 50%;
}
 .social-networks-item a:hover,
 .social-networks-item a:focus,
 .social-networks-item a:active {
  background-color:#ee3643;
}
.vk {
  background-image:url("../img/vk-icon.svg");
}
.fb {
  background-image:url("../img/fb-icon.svg");
}
.insta {
    background-image:url("../img/insta-icon.svg");
}
.wrapper-copyright {
  display: flex;
  width: 320px;
}
.feedback {
  padding-left: 20px;
}
.feedback:last-child {
  padding-left: 50px;
}
